header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    background: #32de84;
}
header img {
    width: 3rem; 
    height: 2.5rem; 
    padding: 0.2rem 1.5rem;
    margin: 0.5rem 0 0.5rem 1rem;
    border: solid white;
    background: #fff;
    border-radius: 1rem;
}
.buttons-header{
    margin-right: 1rem;
}
.btnheader {
    margin-right: 0.5rem;
    border: solid #001861;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    background-color: #001861;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
}
html, body {
    height: 100%;
    margin: 2.5rem 0;
}
body{
    background-color: #001861;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-box{
    position: relative;
    width: 27rem;
    height: 30rem;
    background: #F9F6EE;
    border: solid white;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-box .icon-person{
    font-size: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0 1rem 0;
}
.login-box form{
    margin-left: -1rem;
}
.input-box{
    position: relative;
    margin: 1rem 0;
    padding: 0.5rem 1.2rem;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 0.1rem solid #001861;
    border-radius: 1rem;
    font-size: 1rem;
    color: #36454F;
    padding: 0.5rem 0.5rem;
}
.input-box input::placeholder{
    color: #36454F;
    font-weight: bold;
    font-size: 0.8rem;  
}
.input-box .icon{
    position: absolute;
    right: 1.5rem;
    top: 30%;
}
.remember-forgot{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}
