header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    background: #32de84;
}

header img {
    width: 3rem; 
    height: 2.5rem; 
    padding: 0.2rem 1.5rem;
    margin: 0.5rem 0 0.5rem 1rem;
    border: solid white;
    background: #fff;
    border-radius: 1rem;
}

.buttons-header{
    margin-right: 1rem;
}

.btnheader {
    margin-right: 0.5rem;
    border: solid #001861;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    background-color: #001861;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
}

html, body {
    height: 100%;
    margin: 2.5rem 0;
}

body{
    background-color: #001861;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-box{
    position: fixed;
    width: 27rem;
    height: 42rem;
    background: #F9F6EE;
    border: solid white;
    border-radius: 0.2rem;
    display: flex;
    margin-top: 0 auto;
}

#section{
    
    width: 100%;
    height: 2rem;
    padding-top: 1rem;
    padding-left: 2rem;   
}